/*$profile__form-border: #e0e1eb;*/
body {
  background: #EAF1FE !important;
}

.gamecontainer {
  padding-top: 155px;
  margin-left: 50px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gamecontainer iframe {
  border: none;
  display: block;
  width: 90%;
  height: 90%;
  margin: auto;
}

.gamecontainer iframe canvas {
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto !important;
}

.gamecontainer iframe html {
  background: #fff !important;
}

.gamecontainer iframe body {
  background: #fff !important;
}

.gamecontainer .main-content {
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 100px;
}

.gamecontainer .m-auto {
  margin: auto;
}

.gamecontainer .card__container {
  margin: 0 0px 20px 0;
}

.gamecontainer .game__card-container {
  margin: 0 20px 0 0;
  width: 100%;
  min-height: 230px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gamecontainer .game__card-container img {
  padding: 28px 0 0 0;
}

.gamecontainer .header {
  color: #ffffff !important;
}

.gamecontainer .gameheading {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  background: #1b75bc;
  color: #ffffff;
  width: 100%;
  padding: 8px 0;
}

.gamecontainer .gameheading .gameVideoIcon {
  float: right;
  position: absolute;
  margin-right: 5px;
  cursor: pointer;
  right: 0;
}

.gamecontainer .game__instruction-container {
  height: calc(100vh - 158px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.gamecontainer .game__instruction-container button {
  position: absolute;
  bottom: 13%;
  background-color: #067A7F;
  color: #ffffff;
  padding: 7px 40px;
  border-radius: 13px;
  -webkit-box-shadow: 0px 4px 4px #858585;
          box-shadow: 0px 4px 4px #858585;
  border: 4px solid #f4f0f0;
  font-family: 'action_manbold' !important;
  font-size: 28px;
  font-weight: 800;
  text-shadow: 0px 4px 3px #000;
  cursor: pointer;
}

.gamecontainer .game__instruction-container .game__play-guideline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gamecontainer .game__box-container {
  position: relative;
  margin: 0 0 18px 0;
}

.gamecontainer .game__box-container:hover .playbutton {
  opacity: 1;
  cursor: pointer;
}

.gamecontainer .game__box-container .playbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  right: 50%;
  color: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ecbd1b), to(#bea628)) !important;
  background: linear-gradient(#ecbd1b, #bea628) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px 0;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  cursor: unset;
}

.gamecontainer .game__box-container i {
  position: absolute;
  right: 0;
  margin: 0 8px 0 0;
}

.gamecontainer .game__box-container img {
  border-radius: 8px;
}

.gamecontainer .game__box-container p {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1b75bc;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  padding: 6px 0;
  text-align: center;
}

.innercontainer {
  margin-left: 225px;
}

.w-100 {
  width: 100%;
}
/*# sourceMappingURL=GameStyle.css.map */

