@import "../../Core/Style/Variables";

// body{
//   background: #e4fcfa;
// }
.ui.form .field.field input:-webkit-autofill {
    border-color: $profile__form-border!important;
}

.register-page {
  &.login-page-full-height-background {
    background: #f5f8fe;
    height: calc(100vh - 51px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.login-bg-new{
  .login-page-full-height-background {
    background: #f5f8fe;
    height: calc(100vh - 51px);
    overflow-y: auto;
    overflow-x: hidden;
    @media screen and (max-width: $sm) {
    height: calc(100vh - 73px);
     
  }
  }
  .login-page-content-area{
    height: 85%;
    display: flex;
  }
}

.login-header-seperate {
  background: $color__fill-white;
}
.sub.header {
  font-size: 18px !important;
}
.bottom-space {
  margin-bottom: 45px !important;
}
.login-input {
  width: 100%;
  .field {
    .ui.fluid.input {
      input {
        border: 2px solid $profile__form-border;
        padding: 14px;
        margin: 0px 0 0 0;
      }
    }
  }
  .forgot-password {
    color: rgb(0, 0, 0);
    font-weight: 500;
    width: 50%;
    text-align: end;
  }

  .menus-header-login {
    .item {
      font-size: 16px !important;
      cursor: pointer;
    }
    .header {
      color: $color__fill-menu !important;
      font-weight: 500 !important;
      margin: 0 10px !important;
    }
  }
  .item {
    font-size: 16px !important;
    cursor: pointer;
  }
  .header {
    color: $color__fill-menu !important;
    font-weight: 500 !important;
    margin: 0 10px !important;
  }
  p,
  .sub.header,
  h2.ui.header {
    font-size: 18px !important;
  }

  .ui-checkbox-remember {
    width: 50%;
  }
  button.ui.button.next-button.login-btn {
    width: 100%;
    background: $primary_color;
    color: $color__fill-white;
    padding: 18px 0;
  }
  .UDCLogin{
    border: none !important;
    background: #cf2e2e !important;
  }
}
.login-content-sec {
  background: transparent;
  align-self: center;
  // border-left: 1px solid #c8d1e3;

  .login-inner-sec {
    margin-top: 15px;
    margin-bottom: 100px;
    width: 70%;
    margin: 0 auto;
    padding: 0px 0;

    p {
      font-size: 1.5rem;
    }
    .mg-top-none{
      margin-top: none !important;
    }

    .login-sub-sec {
      // padding: 104px 44px 28px 44px;
      // background: #fff;
      // background: #69d2c9;
      padding: 0 5px;

      &__inner-container {
        padding: 0px 8px 0px 8px;
        border-radius: 10px;
        // background: #fff;
      }
    }

    .top-large-space {
      margin: 25px 0 0 0;
    }
  }
}
.account-bg {
  //   background: #f5f8fe;
  // background: #e4fcfa;
  .login-logo {
    width: 215px;
    margin-bottom: 20px;
  }
}
.account-bg-new {
  //   background: #f5f8fe;
  padding-bottom: 0;
  .login-logo {
    width: 215px;
    margin-bottom: 20px;
  }
}
.forgot-content-sec::before{
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c8d1e3;
    left: 0px;
    top: 0%;
    position: absolute;
}
.forgot-content-sec {
    padding: 150px 0;
  align-self: center;
  .forgot-inner-sec {
    margin-top: 15px;
    padding: 0px 44px 0px 44px;
  }
  p{
    font-size: 1.5rem;
  }
  .reg-here-txt {
    padding: 0px 44px 0px 44px;
  }
}
.image-register{
  width: 78%;
  margin: 0 auto;
}
// .login-left-content::before{
//   content: "";
//   display: block;
//   width: 2px;
//   height: 88.5vh;
//   background: #c8d1e3;
//   left: 100%;
//   top: 0%;
//   position: absolute;
// }
.login-content-sec::before{
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: $color__grey-border;
  left: 0px;
  top: 0%;
  position: absolute;
}
.main-heading{
  color: $tertiary_color!important;
    font-size: 40px!important;
    line-height: 55px!important;
    font-weight: 700!important;
    margin: calc(2rem - .14286em) 0 1rem !important;
}

.forgot-page{
  background: #f5f8fe;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}
.w-100{
  width: 100%;
}
.login-btn{
  margin-top: 4px !important;
}
.login-option-seperator{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    float: none;
    margin-top: 6px;
}
.mb-0{
  margin-bottom: 0 !important;
}
.mt-12{
  margin-top: 12px;
}
.ui-checkbox-remember label{
  padding: 0 0 0 20px !important;
}
.forgot-password-container{
  width: 40%;
  text-align: right;
  label{
    cursor: pointer;
  }
}
.password-rule-list{
  list-style: none;
  width: 100%;
  display: inline-block;
}
.password-rule-list li{
    width: 50%;
    float: left;
    font-size: 12px;
    color: #8c8e91;
}
.password-rule-list i{
    color: #1b75bc;
    font-size: 10px;
    margin-right: 12px;
}
.social-login{
  img{
    cursor: pointer;
  }
}

.university-logo-image-homepage{
  cursor: pointer !important;
  width: 67% !important;
  margin-bottom: 23px !important;
  margin: auto !important;
}